*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.paralax{
    width: 100%;
    min-height: 200vh;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    box-sizing: border-box;
    overflow: hidden;
}
.container1{
    flex-wrap: wrap;
    min-height: 100vh;
    background-image: url(images/background.jpg);
}
.container2{
    background-image: linear-gradient(rgb(0,0,0,.5), rgb(0,0,0,.5)), url(images/background2.jpg);
    min-height: 60vh;
    display: column;
    align-items: center;
    justify-content: center;
}
nav{
    width: 100%;
    height: auto;
    padding: 20px 10%;
    background: transparent;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 99999;
}
#list{
    display: none;
}
nav ul{
    display: flex;
    gap: 20px;
    font-size: 19px;
    list-style-type: none;
}
nav ul li a{
    text-decoration: none;
    list-style: none;
    color: white;
    background: black;
    padding: 10px 15px;
    border-radius: 40px;
    font-weight: bolder;
}
nav ul li a:hover{
    background: rgb(105, 104, 104);
}
.logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-family: "Merienda", kursif; 
}
nav button{
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 40px;
    border: none;
    outline: none;
    font-weight: bolder;
    font-family: "Merienda", kursif; 
    color: white;
    background: transparent;
    cursor: pointer;
}
nav button:hover{
    background: rgb(73, 73, 73);
}
.intro{
    width: 100%;
    padding: 50px 15%;
}
.wraper{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    color: white;
}
.desc h1{
    font-size: 4em;
    margin-bottom: 20px;
}
.desc h1 span{
    color: rgb(255, 153, 0);
    font-family: "Merienda", kursif; 
}
.desc p{
    font-size: 2em;
    z-index: 200;
}
.animasi{
    animation: duing 1.5s infinite;
    position: relative;
}
@keyframes duing{
    0%{
        bottom: 0;
    }40%{
        bottom: -40px;
    }100%{
        bottom: 0;
    }
}
.desc button{
    padding: 8px 40px;
    border: none;
    outline: none;
    background: linear-gradient(90deg, rgb(146, 121, 76), rgb(118, 52, 118));
    border-radius: 40px;
    font-size: 20px;
    color: white;
    font-family: "Merienda", kursif;
    position: relative;
    left: 23%;
    cursor: pointer;
    margin-bottom: 10px;
}
.desc button:hover{
    box-shadow: 2px 2px 20px 2px pink;
}
.desc span{
    background: linear-gradient(white, white);
    background-repeat: no-repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-size: 0;
}
.desc span:first-child{
    animation: text1 2.5s linear infinite alternate; 
}
.desc span:last-child{
    animation: text2 2.5s linear infinite alternate
}
@keyframes text2{
    0%{
        background-size: 0%;
    }40%{
        background-size: 0;
    }100%{
        background-size: 100%;
    }
}
@keyframes text1{
    0%{
        background-size: 0%;
    }40%{
        background-size: 100%;
    }100%{
        background-size: 100%;
    }
}
.desc button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
.desc button img{
    margin-left: 10px;

}
.desc{
    position: relative;
    bottom: 50px;
}
.wraper-container2{
    width: 100%;
    height: auto;
    padding: 20px 30px;
    text-align: center;
    font-size: 5em;
    color: white;
    font-family: "Merienda", kursif;
}
.wraper-container2 i{
    position: relative;
    top: 250px;
    color: white;
    font-size: 2em;
}
.about{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    background: transparent;
    position: relative;
    bottom: 120px;
}
.wraper-about{
    padding: 20px;
    margin: 20px;
    margin-top: 130px;
    background: black;
    width: 80%;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 2px 2px 20px 2px ;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}
.kotak{
    width: 30%;
    color: white;
    text-align: center;
    font-size: 1.5em;
}
.kotak img{
    width: 30%;
    margin-bottom: 20px;
    margin: auto;
}
.container3{
    min-height: 180vh;
    background-image: url(images/background.jpg);
    flex-wrap: wrap;
    display: flex;
    width: 100%;
    justify-content: center;
    margin: auto;
}
.wraper-planet img{
    width: 500px;
}
.wraper-planet{
    width: 100%;
    max-width: 80%;
    display: column;
    justify-content: center;
}
.saturn{
    background: white;
    width: 100%;
    padding: 20px 10px;
    position: relative;
    top: 50px;
    display: flex;
    justify-content: center;
    border-radius: 30px;
}
.gambar-saturn{
    position: relative;
    left: 0;
    margin-left: 10px;
}
.info-saturn{
    position: relative;
    right: -10px;
    width: 100%;
}
.info-saturn h1{
    font-size: 3em;
    font-family: "Merienda", kursif;
}
.info-saturn p{
    font-size: 1.5em;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.uranus{
    background: white;
    width: 100%;
    padding: 20px 10px;
    position: relative;
    top: 100px;
    display: flex;
    justify-content: space-between;
    border-radius: 30px;
}
.gambar-uranus{
    position: relative;
    right: 10px;
    float: right;
    text-align: end;
    display: block;
}
.gambar-uranus2{
    display: none;
}
.info-uranus{
    position: relative;
    left: -10px;
    width: 100%;
    float: left;
    text-align: right;
    margin-right: 20px;
}
.info-uranus h1{
    font-size: 3em;
    font-family: "Merienda", kursif;
}
.info-uranus p{
    font-size: 1.5em;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.mars{
    background: white;
    width: 100%;
    padding: 20px 10px;
    position: relative;
    top: 150px;
    display: flex;
    justify-content: center;
    border-radius: 30px;
}
.kotak img{
    width: 30%;
}
.gambar-mars{
    position: relative;
    left: -10px;
    margin-left: 10px;
}
.info-mars{
    position: relative;
    right: 0;
    width: 100%;
}
.info-mars h1{
    font-size: 3em;
    font-family: "Merienda", kursif;
}
.info-mars p{
    font-size: 1.5em;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
footer{
    width: 100%;
    height: auto;
    padding: 20px 30px;
    flex-wrap: wrap;
    background: black;
    z-index: 9999;
}
.wraper-footer{
    width: 100%;
    height: auto;
    text-align: center;
    display: column;
    justify-content: center;
    align-items: center;
}
.gambar-footer{
    width: 150px;
    height: 150px;
    background-position: center;
    background-size: cover;
    background-image: url(images/logo3.png);
    border: 8px solid white;
    border-radius: 50%;
    margin: auto;
    box-shadow: 2px 2px 20px 2px pink;
}
.wraper-footer p{
    color: white;
    font-size: 1.5em;
    text-decoration: underline;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.medsos i{
    color: white;
    font-size: 3em;
    margin: 20px;
    cursor: pointer;
    border-radius: 50%;
}
.medsos i:hover{
    box-shadow: 2px 2px 20px 2px pink;
}
@media only screen and (max-width: 1500px){
    nav button{
        display: none;
        flex-wrap: wrap;
    }
    .wraper-planet img{
        width: 71%;
    }
    nav h2{
        font-size: 18px;
    }
    nav img{
        width: 70px;
    }
    nav{
        padding: 10px ;
        width: 100%;
    }
    #list{
        display: block;
        font-size: 40px;
    }
    .kotak img{
        width: 30%;
    }
    nav ul{
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%) scale(.1);
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        transition: transform .7s, top .7s;
        visibility: hidden;
    }
    .show-ul{
        transform: translate(-50%, -50%) scale(1);
        top: 80%;
        visibility: visible;
    }
    /* .hide-ul{
        transform: translate(-50%, -50%) scale(.1);
        top: 0;
    } */
    nav ul li a{
        padding: 0;
        background: none;
        font-size: 15px;
    }
    .wraper{
        display: column;
        align-items: center;
        justify-content: center;
    }
    .desc{
        position: absolute;
        bottom: 100px;
        z-index: 999;
    }
    .desc h1{
        font-size: 3em;
        text-align: center;
        color: black;
    }
    .animasi{
        width: 400px;
    }
    .wraper-container2 h1{
        font-size: 1em;
    }
    .about{
        padding: none;
    }
    .wraper-about{
        width: 100%;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: transparent;
        gap: 40px;
    }
    .kotak{
        width: 100%;
        height: auto;
        padding: 20px;
        background: black;
    }
    .wraper-planet{
        margin: 0;
        padding: 0;
        width: 100%;
        max-width: 100%;
    }
    .saturn{
        width: 90%;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: auto;
        border-radius: 0;
    }
    .gambar-saturn{
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        right: 0;
        margin: 0;
        /* margin-top: 20px; */
        width: 500px;
    }
    .info-saturn{
        width: 100%;
        left: 0;
        padding: 20px;
        display: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .info-saturn h1{
        font-size: 2em;
    }
    .info-saturn p {
        font-size: 15px;
    }
    .uranus{
        width: 90%;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: auto;
        border-radius: 0;
    }
    .gambar-uranus{
        display: none;
    }
    .gambar-uranus2{
        display: block;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        right: 0;
        margin: 0;
        width: 500px;
    }
    .info-uranus{
        width: 100%;
        left: 0;
        padding: 20px;
        display: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .info-uranus h1{
        font-size: 2em;
    }
    .info-uranus p {
        font-size: 15px;
    }
    .mars{
        width: 90%;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: auto;
        border-radius: 0;
    }
    .gambar-mars{
        /* margin: auto; */
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        left: 0;
        width: 500px;
    }
    .container3{
        min-height: 180vh;
    }
    .info-mars{
        width: 100%;
        left: 0;
        padding: 20px;
        display: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .info-mars h1{
        font-size: 2em;
    }
    .info-mars p {
        font-size: 15px;
    }
    .gambar-footer{
        width: 100px;
        height: 100px;
    }
    .medsos i{
        font-size: 25px;
        margin: 5px;
    }
    .medsos{
        gap: 5px;
    }
    footer{
        margin: 0;
    }
}
@media only screen and (max-width: 500px){
    .animasi {
        width: 400px;
    }
    nav{
        flex-wrap: wrap;
    }
    .saturn{
        top: 30px;
    }
    .uranus{
        top: 60px;
    }
    .mars{
        top: 90px;
    }
    .container3{
        height: 200vh;
    }
}
@media only screen and (max-width: 400px){
    .saturn{
        top: 40px;
    }
    .gambar-saturn, .gambar-uranus2, .gambar-mars{
        width: 495px;
    }
    .uranus{
        top: 80px;
    }
    .mars{
        top: 120px;
    }
    .container3{
        height: 210vh;
    }
}
@media only screen and (min-width: 1000px){
    .kotak img{
        width: 200px;
    }
}

@media only screen and (max-width: 361px){
    .container3{
        min-height: 220vh;
    }
    .wraper-planet img{
        width: 322px;
    }
    .mars, .saturn, .uranus{
        margin-top: 0;
    }
}
@media only screen and (max-width: 1000px) and (min-width: 700px){
    .kotak img{
        width: 200px;
    }
}
@media only screen and (max-width: 640px) and (min-width: 500px){
    .container3{
        min-height: 200vh;
    }
}